<input id="get_name" type="text" placeholder="Enter your Name">
<input id="get_email" type="email" name="user_email" placeholder="Enter your Email">

<select id="get_veg" name="Vegetable">
    <option value="carrot">Carrot</option>
    <option value="potato">Potato</option>
    <option value="peas">Peas</option>
    <option value="cabbage">Cabbage</option>
</select>

<input id="get_amount" type="number" name="amount_of_veg" placeholder="Amount">

<select id="get_county" name="County">
    <option value="armagh">Armagh</option>
    <option value="carlow">Carlow</option>
    <option value="cavan">Cavan</option>
    <option value="cork">Cork</option>
    <option value="donegal">Donegal</option>
    <option value="dublin">Dublin</option>
    <option value="galway">Galway</option>
    <option value="kerry">Kerry</option>
    <option value="kildare">Kildare</option>
    <option value="kilkennry">Kilkennry</option>
    <option value="laois">Laois</option>
    <option value="leitrim">Leitrim</option>
    <option value="limerick">Limerick</option>
    <option value="longford">Longford</option>
    <option value="mayo">Mayo</option>
    <option value="meath">Meath</option>
    <option value="offaly">Offaly</option>
    <option value="roscommon">Roscommon</option>
    <option value="sligo">Sligo</option>
    <option value="tyrone">Tyrone</option>
    <option value="waterford">Waterford</option>
    <option value="westmeath">Westmeath</option>
    <option value="wicklow">Wicklow</option>
    <option value="antrim">Antrim</option>
    <option value="clare">Clare</option>
    <option value="down">Down</option>
    <option value="fermanagh">Fermanagh</option>
    <option value="louth">Louth</option>
    <option value="monaghan">Monaghan</option>
    <option value="tipperary">Tipperary</option>
</select>

<select id="get_delivery" name="deliver">
    <option value="true">Deliver</option>
    <option value="false">Collect</option>
</select>