<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs")%>
<body class="container">
    <div>
        <%- include ("./partials/nav.ejs")%>
    </div>
    <div class="wrapper">
        <div>
            <h1>We found someone maching your description</h1>
        </div>
        <h1>Seller</h1>
        <div id="seller_info">

        </div>
        <h1>Buyer</h1>
        <div id="buyer_info">

        </div>
    </div>
</body>
</html>