<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs")%>
<body class="container">
    <div>
        <%- include ("./partials/nav.ejs")%>
    </div>
    <div class="wrapper">
        <h1>Welcome to the Vegetable marketplace</h1>
        <h3>For all your Vedgy needs !</h3>

        <div>
            <button id="buy_button">Click here to buy</button>
            <button id="sell_button">Click here to sell</button>
        </div>
        
        <div id="display_image">
            <!-- For every image display one for a time -->
        </div>
    </div>
    <script src="/js/index_img.js"></script>
    <script src="/js/index_button.js"></script>
</body>
</html>