<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs")%>
<body class="container">
    <div>
        <%- include ("./partials/nav.ejs")%>
    </div>
    <div class="wrapper">
        <h1>Welcome to the Vegetable marketplace</h1>
        <h3>For all your Vedgy needs !</h3>

        <div>
            <button onclick="">Click here to buy</button>
            <button onclick="">Click here to sell</button>
        </div>
        
        <div>
            <!-- For every image display one for a time -->
        </div>
    </div>
</body>
</html>