<html lang="en">
<%- include ("./partials/head.ejs")%>
<body class="container">
    <div>
        <%- include ("./partials/nav.ejs")%>
    </div>
    <div class="wrapper">
        <div>
            <h1>Sell your Vegetable here !</h1>
            <div>
                <%- include ("./partials/options.ejs")%>
            </div>
            <div>
                <button>Sell</button>
            </div>
        </div> 
    </div>
</body>
</html>