<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs")%>
<body class="container">
    <div>
        <%- include ("./partials/nav.ejs")%>
    </div>
    <div class="wrapper">
        <h1>Sell your Vegetable here !</h1>
    </div>
</body>
</html>